

/* Opening flashMessage */
#flashMessage {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  color: lightblue;
  background-color: white;
}

/* cursor */
a:any-link {
color: -webkit-link;
text-decoration: underline;
cursor: pointer;
}


/* Side Nav */

.side_Nav {
   bottom: 25%;
    width: 200px;
    position: fixed;
    top: 20%;
    right: 0;
    text-align: center;
    background: rgba(131, 130, 166, 0.22);

    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 20px;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
}


/* Side Nav menu links */

.side_Nav a {
    padding: 4px 4px 4px 24px;
    text-decoration: none;
    font-size: 15px;
    color: orange;
    display: block;
    height: 50px;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side_Nav a:hover {
    color: orange;
    font-size: 20px;
}

.social_media a:hover {
    color: orange;
    font-size: 20px;
}

/* social_media */
.side_Nav {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }


.social_media {
  position: fixed;
  width: 200px;
  bottom: 25%;
  right: 0px;
  text-align: center;

}


/*first background*/

.body {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 100vh 100vw;
}



.cover {
  padding: 20px;
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
  height: calc(95vh - 50px);
  width:calc(95vw - 50px);
}

.pic_text {
  position: relative;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
}

.header_text {
  position: absolute;
  top: 5%;
  right: 12%;

}

.quote {
  position: absolute;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  bottom: 22%;
  left: 20%;
  right: 20%
}

.slideUp, .fade-up {
  position: absolute;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  bottom: 11%;
  left: 10%;
  right: 10%
}

.fade-up {
  position: absolute;
}

/* arrow */
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



/* Second background */

.body2 {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 100vh 100vw;
}

.feat-img {
  border-radius: 20px;
}

.heading-center {
  text-align: center;
  color: white;
  background-color: lightblue;
  border-radius: .35em;
  margin: 0 12em .8em;
  margin-top: .5em;
}

.meal-plans {
  color: white;
  background-color: lightblue;
  border-radius: .35em;
  margin: 0 33em .8em;
  margin-left: auto;
}

#Capital:first-letter {
  font-size: 300%;
}

.col {
  color: white;
  background-color: lightblue;
  border-radius: .35em;
  margin: 0 .5em .8em;


}

/* Third background */

.body3 {
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 100vh;
  width: 100vw;
}


.last-header {
    text-align: center;
    color: white;
}

.col1 {
  color: lightblue;
  background-color: white;
  border-radius: .35em;
  margin: 5em .5em .8em;
}

.mySlides {
  align-items: center;
  border-radius: .35em;
  margin-bottom: .5em;
  margin-left: 21.5em;
  width: 50vw;
  height: 50vh;
}

.container1 {
  position: relative;
}

.container1 .w3-button {
  position: absolute;
}


/* pseudo classes */
a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}



/* media queries*/
@media (min-width: 769px) {
.row {
    display: flex;
    flex-wrap: wrap;
  }

.col {
  flex: 1;
  }

.col1 {
    flex: 1;
    text-align: center;
  }


}



@media (min-width: 1025px) {
  .main-nav {
  		flex-direction: row;
  		justify-content: space-between;
  	}

}



/* Nav Bar, On smaller screens
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */
